.card {
  border: 1px solid gray;
  border-radius: 4px;
  width: 105px;
  height: 100px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.card-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.card-icon {
  width: 30px;
  height: 30px;
}

.card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  font-weight: bold;
  font-size: smaller;
}

.card-title > a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}